on:
  push:
    tags: [ "*" ]

name: CI

jobs:
  tests:
    uses: ./.github/workflows/test.yml

  build:
    needs: [ "tests" ]
    name: build all
    runs-on: ubuntu-latest

    strategy:
      matrix:
        build_target:
          - "x86_64-unknown-linux-gnu"
          - "x86_64-pc-windows-gnu"
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.build_target }}
          override: true
      - name: build release cli
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --target ${{ matrix.build_target }} --release --bin lifeblood-manager-cli
      - name: build release ui
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --target ${{ matrix.build_target }} --release --bin lifeblood-manager --features ui
      - run: ls -R
      - uses: actions/upload-artifact@master
        with:
          name: build_${{ matrix.build_target }}
          path: |
            target/${{ matrix.build_target }}/release/lifeblood-manager-cli.exe
            target/${{ matrix.build_target }}/release/lifeblood-manager-cli
            target/${{ matrix.build_target }}/release/lifeblood-manager.exe
            target/${{ matrix.build_target }}/release/lifeblood-manager

  release:
    name: create release
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/download-artifact@master
        with:
          path: artifacts

      - run: ls -R artifacts

      - name: Make Release
        uses: softprops/action-gh-release@v1
        # if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            artifacts/*/lifeblood-manager*

  notify:
    uses: ./.github/workflows/release-notify.yml
    secrets:
      TELEGRAM_INFO_BOT_ID: ${{ secrets.TELEGRAM_INFO_BOT_ID }}
      TELEGRAM_INFO_CHANNEL_ID: ${{ secrets.TELEGRAM_INFO_CHANNEL_ID }}

    needs: [ "release" ]
